<!DOCTYPE html>
<html>
  <head>
    <title>ReversePolishNotation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <%= yield %>
    </div>

    <footer class='footer'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col'>
            Built by Jack Anderson
            <br>Using Ruby on Rails</br>
          </div>
          <div class='col text-center'>
            <br>Social</br>
            <%= link_to 'https://www.github.com/phrygianjack' do %>
              <%= image_tag('logos/github.png', class: 'social-button') %>
            <% end %>
            <br />
            <br />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
